.gold_text {
	background: linear-gradient(90deg, #ffffff, #fffacd, #ffd700, #f0e68c, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 50vh;
	height: auto;
	width: auto;
	padding: 1rem 0 1rem 0;
}

@media (min-width: 768px) {

	.left {
		float: left;
		padding-right: 2rem;
		object-fit: cover;
	}

	.right {
		float: right;
		padding-left: 2rem;
		object-fit: cover;
	}
}